{{define "en.verify.subject"}}Confirm your SMemories email address{{end}}
{{define "en.verify.text"}}Hi {{.Name}},

Welcome to SMemories! Please confirm your email address by opening this link (valid for 24 hours):

{{.Link}}

If you did not create an account, you can ignore this email.
{{end}}
{{define "en.reset.subject"}}Reset your SMemories password{{end}}
{{define "en.reset.text"}}Hi {{.Name}},

Someone asked to reset the password of your SMemories account. Open this link to choose a new one (valid for 1 hour):

{{.Link}}

Signing in again will be needed on all your devices afterwards. If this was not you, ignore this email: your password stays as it is.
{{end}}
